*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bg-color{
  background-color: #1A0B2E;
}


/* shared style */
.disply-flex{
  display: flex;
}

.btn-gradient-primary{
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 12px 16px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%) ;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

}

.btn-gradient-primary:hover{
  background-image: linear-gradient(to left, #F7E93F 0%, #FB09B4 51%, #9100F8 100%) ;
}

#nav-container{
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0px;
 
}

#nav-container .text-tech{
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

#nav-container .text-wave{
  background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F) ;
  color: transparent;
  background-clip: text;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-links{
  gap: 32px;
}

.nav-links, .nav-link{
  list-style: none;
}

.nav-item a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.nav-item a:hover{
  background-color: gray;
  border: 1px solid gray;
  border-radius: 6px;

}
.nav-subcribe-btn{
  display: flex;
  align-items: center;
  gap: 4px;
}


.hero-container{
  height: 760px;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
   border-top: 1px solid rgba(128, 128, 128, 0.26);
}

.hero-content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo{
  background-image: url(../images/hero-circle.png);
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.hero-content h1{
  font-size: 3.75rem;
  font-weight: bolder;
  color: white;
}

.hero-content p{
  color: white;
  margin-top: 8px;
  margin-bottom: 24px;
}

.hero-btn{
  display: inline-flex;
  align-items: center;
  gap: 8px;
}


.Subscribe-btn {
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  padding: 12px 16px;
  border: 2px solid #00FF88;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.Subscribe-btn:hover{
  background: #00ff8842;
}

.about-content{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-content h1{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}

.about-content p{
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 20px;
  margin-bottom: 80px;
  text-align: center;

}

.line{
  width: 75%;
  max-width: 1200px;
  border-top: 1px solid rgba(128, 128, 128, 0.26);
  margin: 0 auto;
}
